@font-face {
    font-family: Adobe Caslon Pro;
    src: url("../Assets/Adobe Caslon Pro/ACaslonPro-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: Adobe Caslon Pro;
    src: url("../Assets/Adobe Caslon Pro/ACaslonPro-Italic.otf");
    font-style: italic;
}