$gold1: #FAE19F;
$gold2: #F1DEAE;
$gold3: #fcf2d9;
$goldLG1: linear-gradient(to left,#E3C575 10%, #F1DEAE  45%, #E3C575 65%, #9F8762 80%);
$dropdownBG: linear-gradient(-145deg,#E3C575 10%, #F1DEAE  45%, #E3C575 65%, #9F8762 90%);

$outline: red;
$v: hidden;

:root {
    // font-family: Adobe Caslon Pro;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('../Assets/Backgrounds/downton-abbey-bg-1.jpg');
    background-size:cover;
    background-position: center;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

    font-family: Adobe Caslon Pro;
    font-weight: 100;

    // outline: 1px solid red;
}

body {
    width: calc(100vw - 1px);
    height: fit-content;
}

::-webkit-scrollbar {
    width: 1px;
    position: absolute;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: $gold1;
}